*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

:where(ul, ol) {
  padding: 0;
  list-style: none;
}

:where(button) {
  font: inherit;
  color: inherit;
}

[hidden] {
  display: none !important;
}
