*,
*::before,
*::after {
  /*Mantiene el tamaño de las cajas*/
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  /*Mantenemos siempre el mismo tamaño de texto (vertical/horizontal)*/
  -webkit-text-size-adjust: 100%;
}

:where(ul, ol) {
  /*Quitamos sangría y puntos de las listas*/
  padding: 0;
  list-style: none;
}

:where(button) {
  font: inherit;
  color: inherit;
}

[hidden] {
  display: none !important;
}
